.down-graph-title {
    text-align: center;
    font-size: 30px;
}
.time-graph-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.performance-graph-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
